/**
 * _edit-stage.scss
 */

#cfg-contain.hidden {
    display: none;
}

h4.field-title {
    
    span.title {
        padding-left: $spacer-x;
    }
    
}

#flow-editor-fields-contain {
    
    .flow-editor-configurator-row {
        border-bottom: lighten($gray-light, 10%) dashed 1px;
        margin-bottom: $spacer-y * 2;
        padding-bottom: $spacer-y * 2;
    }

    .field-select-option {
        margin-bottom: 2px;
    }
}

#cfg-submitting {
    h5 {
        display: inline-block;
        padding-left: $spacer-x;
    }
}