/**
 * _navigation.scss
 */


#navbar-mobile, #navbar-desktop {
    
    .nav-link {
        color: $component-active-color;
    }
    
    .nav-link.active {
        color: $component-active-bg;
        background-color: $gray-lightest;
    }
}

#navbar-desktop {
    
    height: $forcept-navbar-height;
    
    .nav {
        
        .nav-item {
            
            position: relative;
            height: $forcept-navbar-height;
            
            .nav-link {
                padding: 0 $spacer-x;
                height: $forcept-navbar-height;  
                line-height: $forcept-navbar-height;
            }
            
        }
    }

}