/**
 * _stage-visits.scss
 */

.forcept-patient-nametag {
    
    .card-block {
        padding: ($spacer-y / 2) ($spacer-x);
    }
    
    .card-title {
        margin-top: ($spacer-y / 1.5);
        
        span.title-content {
            padding-right: 5px;   
        }
    }
}

.forcept-patient-summary {
	.card-title {
		line-height: 27px;
	}
    a.list-group-item {
        p {
            margin: 0;
            width: 100%;
            word-break: break-all;
            word-wrap: break-word;
        }
    }
}
.form-group label.file {
	font-size: 15px;
}
div.patient-photo-contain {
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;

	img {
		width: 100%;
	}
}

img.loading {
	display: inline-block;
}