/**
 * _content.scss
 * @author Cameron Kelley
 */

#page-content {
    margin-top: $forcept-navbar-height;

    @include media-breakpoint-down(sm) {
        margin-top: 38px;
    }

    padding: 0 !important;

    #page-header {
        padding-top: $spacer-y * 1.5;
        padding-bottom: $spacer-y * 1.5;
        background: $forcept-content-header-background;

        h4 {
            margin: 0;
        }
    }

    #page-header-secondary {
        border-top: 1px solid $forcept-content-header-secondary;
        border-bottom: 1px solid $forcept-content-header-secondary;
        background: darken($forcept-content-header-background, 0.5%);

        ul.nav {

            li.nav-item {
                margin-left: 0;

                img {
                    height: 26px;
                    margin: 6px;
                }

                a:not(.nav-button):not(.active) {
                    opacity: 0.7;
                    color: $gray;
                }

                a {
                    user-select: none;
                    -moz-user-select: none;
                    -webkit-user-select: none;

                    border-top: 3px solid transparent;
                    padding: 6px 14px 7px 14px;

                    &.nav-button {
                        opacity: 1;
                    }

                    &.active {
                        background: none;
                        font-weight: bolder;
                        color: $gray;
                        border-top-color: lighten($brand-primary, 25%);
                        padding-top: 6px;
                        padding-bottom: 7px;
                    }

                    &:not([disabled]):hover {
                        background: $forcept-content-header-secondary;
                        border-top-color: $forcept-content-header-secondary;
                        padding-top: 6px;
                        padding-bottom: 7px;
                    }

                    &.active:hover {
                        border-top-color: lighten($brand-primary, 25%);
                    }

                    &:not([disabled]):not(.active):hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    #page-header-message-block {

    }

}
