/**
 * _stage-visits.scss
 */

.forcept-patient-nametag {

    .card-block {
        padding: ($spacer-y / 2) ($spacer-x);
    }

    .card-title {
        margin-top: ($spacer-y / 1.5);

        span.title-content {
            padding-right: 5px;
        }
    }

}

.forcept-patient-summary {

    font-size: 16px;

    .card-header {

        &:hover {
            cursor: pointer;
        }


        @include media-breakpoint-down(lg) {
            h5 {
                font-size: $font-size-base;
            }
        }

        @include media-breakpoint-down(md) {
            h5 {
                font-size: $font-size-sm;
            }
        }

        @include media-breakpoint-down(xs) {
            h5 {
                font-size: $font-size-xs;
            }
        }

    }

    .list-group-item {

        &.forcept-patient-overview-header-item {
            background: $gray-lightest;
        }

        p {
            margin: 0;
            width: 100%;
            word-break: break-all;
            word-wrap: break-word;
        }

        dl {
            margin-bottom: 0;

            dd {
                padding-left: 26px;
                margin-bottom: 0;

                ul {
                    margin: 0;
                }

            }
        }
    }

    .card-footer {
        padding-top: $spacer-y / 3;
        padding-bottom: $spacer-y / 3;
    }

}

.form-group label.file {
	font-size: 15px;
}

div.forcept-patient-photo-contain {
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
    &.thumbnail {
        padding: .25rem;
        line-height: 1.5;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: .25rem;
        margin: 0 auto;
    }
	img {
		width: 100%;
	}
}

.forcept-stagevisits-patient-name {
    margin-top: 10px;
}

img.loading {
	display: inline-block;
}

.btn-group-block {
	display: block;
	& > .btn {
		width: 50% !important;
	}
}

.forcept-fieldset-header {
    display: block;
    width: 100%;
    padding-left: $spacer-x;
    padding-bottom: $spacer-x / 2;
    border-bottom: $gray-lighter solid 3px;
    margin-top: $spacer-y;
    small {
        padding-left: $spacer-x / 2;
        font-size: 62.5%;
    }
}

select.form-control {
    option[disabled] {
        // opacity: 0.625;
        color: $brand-success;
    }
}

.forcept-field-select-drugs {
    optgroup {
        margin-bottom: 15px;
    }
}
