/**
 * template.scss
 * @author Cameron Kelley
 */

// Bootstrap and respective variables
@import "bootstrap/scss/bootstrap";


// Forcept variables
$forcept-navbar-height:    4rem;
$forcept-content-header-background: #f5f5f5;
$forcept-content-header-secondary: darken($forcept-content-header-background, 10%);


/**
 * Debug module
 */
#forcept-debug-content.hidden {
    display: none;
}


/**
 * Bootstrap fixes
 */

// form-control-lg adds border radius even though it's disabled
.form-control.form-control-lg {
    border-radius: 0;
}

// fix line-height for input-group-addons with .label class
.form-control-lg + .input-group-addon.label {
    padding: 0 $input-padding-y-lg;
    line-height: $input-height-lg;
}

// add disabled class for row
.row.disabled {
    opacity: 0.4;
    pointer-events: none;
}


/**
 * Imports
 */

// Navigation
@import "navigation";

// Content
@import "content";
@import "signin";

// Console
@import "console";
@import "edit-stage";

// Stage visits viewer
@import "stage-visits";

// Data display
@import "data-displays";
